@import "../../styles/motion.less";

.k-popup {
  position: absolute;
  z-index: 1001;
  color: var(--kui-color-text);
  font-size: 14px;
  line-height: 1.5;
  .k-popup-content {
    padding: 12px;
    background: var(--kui-popup-bg);
    border: 1px solid var(--kui-popup-border);
    border-radius: var(--kui-popup-radius);
    box-shadow: var(--kui-popup-shadow);
  }
  .k-popup-arrow {
    position: absolute;
    width: 24px;
    height: 9px;
    color: var(--kui-popup-bg);
    pointer-events: none;
    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
    #ot {
      stroke: var(--kui-popup-border);
      stroke-width: 1px;
    }
  }
  &[k-placement^="top"] .k-popup-arrow {
    bottom: -7px;
    left: calc(50% - 12px);
  }
  &[k-placement^="bottom"] .k-popup-arrow {
    top: -7px;
    left: calc(50% - 12px);
    transform: rotate(180deg);
  }
  &[k-placement$="-left"] .k-popup-arrow {
    left: 12px;
  }
  &[k-placement$="-right"] .k-popup-arrow {
    left: auto;
    right: 12px;
  }
  &[k-placement^="left"] .k-popup-arrow {
    right: -16px;
    top: calc(50% - 4.5px);
    transform: rotate(-90deg);
  }
  &[k-placement^="right"] .k-popup-arrow {
    left: -16px;
    top: calc(50% - 4.5px);
    transform: rotate(90deg);
  }
  &[k-placement$="-top"] .k-popup-arrow {
    top: 12px;
  }
  &[k-placement$="-bottom"] .k-popup-arrow {
    top: auto;
    bottom: 12px;
  }
}
.k-popup-panel {
  position: relative;
  display: inline-block;
}
.k-popup-enter-active {
  animation: k-motion-scale-y-in 0.3s;
}
.k-popup-leave-active {
  animation: k-motion-scale-y-in 0.3s reverse;
}
