@import '../../styles/var.less';
.k-table {
  background: var(--kui-color-back);
  width: 100%;
  margin: 10px 0;
  // overflow: auto;
  box-sizing: border-box;
  position: relative;
  color: var(--kui-color-font);
  .k-spin {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background: var(--kui-color-back);
    thead {
      background: var(--kui-color-gray-90);
      border-bottom: 1px solid var(--kui-color-gray-80);
      .k-icon {
        vertical-align: middle;
      }
    }
    tr>th {
      font-weight: 500;
      overflow-wrap: break-word;
      text-align: left;
      &[colspan]:not([colspan="1"]) {
        text-align: center;
      }
    }
    th.k-table-cell-selection {
      text-align: center;
    }
    tr>th, tr>td {
      font-size: 14px;
      padding: 10px;
      overflow-wrap: break-word;
      word-wrap: break-word;
    }
    .k-table-cell-ellipsis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .k-table-cell-sorter {
      cursor: pointer;
      user-select: none;
      .k-table-header-col {
        display: flex;
        flex-direction: row;
        align-items: center;
        .k-table-header-title {
          flex: 1;
        }
      }
      &:hover {
        background: var(--kui-color-gray-90);
      }
      .k-table-sorter {
        display: inline-block;
        margin-left: 8px;
        vertical-align: middle;
      }
      .k-icon {
        display: block;
        font-size: 10px;
        line-height: 1;
        color: #ccc;
        &:first-child {
          margin-bottom: -.6em;
        }
      }
      .actived {
        color: var(--kui-color-main);
      }
    }
    tbody>tr {
      border-bottom: 1px solid var(--kui-color-gray-80);
      &:nth-child(even) {
        // background: fade(var(--kui-color-border), 30%);
      }
      &:nth-child(odd) {
        // background: #fff;
      }
      &:hover {
        background: var(--kui-color-gray-90);
      }
      &.k-table-row-hover {
        background: var(--kui-color-gray-90);
      }
    }
    .k-table-expand-row {
      &:hover {
        background: var(--kui-color-gray-90);
      }
    }
    td table {
      tr:last-child {
        border-bottom: none;
      }
      tbody>tr:hover {
        background: var(--kui-color-gray-90);
      }
    }
  }
  &-header {
    padding: 10px;
    border-top: 1px solid var(--kui-color-gray-80);
  }
  &-footer {
    padding: 10px;
    border-bottom: 1px solid var(--kui-color-gray-80);
    background-color: var(--kui-color-gray-90);
  }
  th>a, td>a {
    color: #3a95ff;
  }
  .k-empty {
    padding: 30px 0;
    box-sizing: content-box;
  }
  &-fixed {
    table {
      table-layout: fixed;
    }
  }
  &-fixed-header {
    word-break: break-all;
    .k-table-fixed-main-thead {
      &::-webkit-scrollbar {
      }
    }
    .k-table-fixed-main-thead, .k-table-fixed-right-thead, .k-table-fixed-left-thead {
      overflow: scroll;
      margin-bottom: -20px;
      &::-webkit-scrollbar {
        background-color: transparent !important;
        border-bottom: 1px solid var(--kui-color-gray-80);
      }
      &::-webkit-scrollbar-track{
        background-color: transparent !important;
      }
    }
    .k-table-fixed-left-thead {
      overflow-y: hidden;
    }
  }
  &-fixed-left, &-fixed-right {
    position: absolute;
    top: 0;
    overflow: hidden;
  }
  &-fixed-right {
    right: 0;
    .k-table-fixed-right-body {
      overflow-x: hidden;
      overflow-y: scroll;
    }
    table {
      width: auto; //针对  table-layout: fixed;
    }
  }
  &-fixed-left {
    left: 0;
    .k-table-fixed-left-body {
      overflow: hidden;
    }
    table {
      width: auto; //针对  table-layout: fixed;
    }
  }
  &-scroll-left {
    .k-table-fixed-right {
      box-shadow: -6px 0 6px -4px rgba(0, 0, 0, .15);
    }
  }
  &-scroll-right {
    .k-table-fixed-left {
      box-shadow: 6px 0 6px -4px rgba(0, 0, 0, .15);
    }
  }
  &-scroll-middle {
    .k-table-fixed-right {
      box-shadow: -6px 0 6px -4px rgba(0, 0, 0, .15);
    }
    .k-table-fixed-left {
      box-shadow: 6px 0 6px -4px rgba(0, 0, 0, .15);
    }
  }
  &-sm {
    table tr {
      th, td {
        padding: 5px 8px;
      }
    }
  }
  &-lg {
    table tr {
      th, td {
        padding: 16px;
      }
    }
  }
  .k-table {
    margin: -10px;
    width: auto;
    &:after {
      content: '';
      display: table;
    }
    table tbody tr {
      // background-color: fade(var(--kui-color-border), 30%);
    }
  }
  &-bordered {
    border: 1px solid var(--kui-color-gray-80);
    .k-table-footer {
      border-top: 1px solid var(--kui-color-gray-80);
      border-bottom: none;
    }
    thead {
      th {
        border-bottom: 1px solid var(--kui-color-gray-80);
        border-right: 1px solid var(--kui-color-gray-80);
      }
    }
    .k-table-fixed-main-thead, .k-table-fixed-right-thead, .k-table-fixed-left-thead {
      &::-webkit-scrollbar {
        border-top: none;
      }
    }
    // .k-table-fixed-main-thead, .k-table-fixed-right-thead, .k-table-fixed-left-thead {
    //   border-bottom: 1px solid fade(var(--kui-color-border), 30%);
    // }
    .k-table-header {
      border-bottom: 1px solid var(--kui-color-gray-80);
      border-top: none;
    }
    // .k-table-body tr:first-child td {
    //   border-top: none;
    // }
    // // border-bottom: none;
    th, td {
      border: 1px solid var(--kui-color-gray-80);
    }
    tr {
      &:first-child td {
        border-top: none;
      }
      &:last-child {
        border-bottom: none;
        td {
          border-bottom: none;
        }
      }
    }
    tr td:first-child, tr th:first-child {
      border-left: none;
    }
    tr td:last-child, tr th:last-child {
      border-right: none;
    }
    tr th:first-child, table thead, tr th {
      border-top: none;
    }
    .k-table-fixed-right {
      border-left: 1px solid var(--kui-color-gray-80);
    }
    & .k-table {
      margin: -11px -10px -11px -11px;
      border-right: none;
    }
  }
  &-cell-selection {
    text-align: center;
  }
  &-selection-col {
    width: 50px
  }
  &-expand-icon-col {
    width: 50px;
    min-width: 50px;
  }
  &-row-expand-icon-cell {
    text-align: center;
    .k-icon {
      cursor: pointer;
      &:hover {
        color: var(--kui-color-main);
      }
    }
  }
}