@import "../../styles/less-css-var.less";
@import "../../styles/motion.less";

.k-datepicker {
  display: inline-flex;
  box-sizing: border-box;
  vertical-align: middle;
  color: var(--kui-control-text);
  background: none;
  font-size: var(--kui-font-size);
  position: relative;
  border: 1px solid var(--kui-control-border);
  min-height: var(--kui-control-height);
  border-radius: var(--kui-control-radius);
  background-color: var(--kui-control-bg);
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.3s;
  flex-shrink: 0;
  align-items: center;
  padding: 0 8px;
  outline: var(--kui-focus-ring-width) solid transparent;
  outline-offset: 1px;
  &:hover {
    border-color: var(--kui-color-primary);
  }
  &:focus {
    outline: var(--kui-focus-ring-width) solid var(--kui-color-outline);
  }

  .k-datepicker-selection {
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  .k-icon-calendar {
    color: var(--kui-color-icon);
    font-size: var(--kui-font-size);
    margin-left: 4px;
  }
  .k-icon-clean {
    color: var(--kui-color-icon);
    font-size: var(--kui-font-size);
    position: absolute;
    z-index: 10;
    right: 8px;
    display: none;
    &:hover {
      color: var(--kui-color-icon-hover);
    }
    &:active {
      color: var(--kui-color-icon-active);
    }
  }
  .k-datepicker-input {
    border: none;
    background: none;
    outline: none;
    line-height: 1;
    font-size: var(--kui-font-size);
    padding: 0;
    margin: 0;
  }
  .k-datepicker-separator {
    margin: 0 5px;
    display: flex;
  }
  .k-datepicker-placeholder,
  .k-datepicker-has-clear {
    &:hover {
      .k-icon-clean {
        display: block;
        cursor: pointer;
      }

      .k-icon-calendar {
        opacity: 0;
      }
    }
  }
}

.k-datepicker-fill {
  border-color: transparent;
  background-color: var(--kui-theme-fill-bg);

  &:hover,
  &:focus {
    box-shadow: none;
    border-color: transparent;
  }
}

.k-datepicker-circle {
  border-radius: var(--kui-shape-circle);
}
.k-datepicker-square {
  border-radius: var(--kui-shape-square);
}

.k-datepicker-range {
  .k-datepicker-separator {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
  }
}

.k-datepicker-with-time {
  .k-datepicker-placeholder {
    width: 150px;
  }
}

.k-datepicker-opened {
  border-color: var(--kui-color-primary);
  outline: var(--kui-focus-ring-width) solid var(--kui-color-outline);
  &.k-datepicker-fill {
    border-color: transparent;
    box-shadow: none;
  }
  &:focus {
    outline: var(--kui-focus-ring-width) solid var(--kui-color-outline);
  }
}

.k-datepicker-overlay {
  position: absolute;
  z-index: 1003;
  background: var(--kui-popup-bg);
  box-shadow: var(--kui-popup-shadow);
  border-radius: var(--kui-control-radius);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--kui-popup-border);
  -webkit-user-select: none;
  user-select: none;
}
.k-datepicker-panel {
  position: relative;
  z-index: auto;
}
.k-picker-presets {
  display: flex;
  flex-direction: column;
  min-width: 90px;
  max-width: 200px;
  border-right: 1px solid var(--kui-control-border);
  padding: 8px;
  box-sizing: border-box;
  overflow: hidden auto;
  gap: 5px;

  .k-btn {
    text-overflow: ellipsis;
  }
}

.k-datepicker-sm {
  min-height: var(--kui-control-height-sm);

  padding: 0 var(--kui-padding-inline-sm);
  .k-icon {
    font-size: var(--kui-font-size-sm);
  }
  .k-datepicker-input {
    font-size: var(--kui-font-size-sm);
  }
  .k-datepicker-selection {
    white-space: nowrap;
    line-height: 0;
  }
  .k-icon-clean {
    right: 5px;
  }
}

.k-datepicker-lg {
  min-height: var(--kui-control-height-lg);
  padding: 0 9px;
  .k-datepicker-input {
    font-size: var(--kui-font-size-lg);
  }
  .k-icon {
    font-size: var(--kui-font-size-lg);
    right: 10px;
  }
  .k-icon-clean {
    right: 9px;
  }
}

.k-datepicker-disabled {
  color: var(--kui-color-text-disabled);
  cursor: not-allowed;
  background: var(--kui-control-bg-disabled);
}
.k-datepicker-disabled:not(.k-datepicker-fill) {
  border-color: var(--kui-color-border-disabled);
}

.k-datepicker-borderless {
  border-color: transparent;
  box-shadow: none;
  background-color: transparent;

  &:hover,
  &:focus {
    border-color: transparent;
    box-shadow: none;
  }
}

.k-picker-container {
  display: flex;
  flex-direction: column;
  width: 272px;
  .k-picker-extra-header,
  .k-picker-extra-footer {
    padding: 10px;
  }
  .k-picker-extra-header {
    border-bottom: 1px solid var(--kui-control-border);
  }
  .k-picker-extra-footer {
    border-top: 1px solid var(--kui-control-border);
  }
  .k-picker-header {
    text-align: center;
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }
  .k-picker-body {
    position: relative;
    min-height: 262px;
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .k-picker-weekdays {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    font-weight: 500;

    .k-picker-weekday {
      height: 36px;
      display: block;
      text-align: center;
      line-height: 36px;
      color: var(--kui-color-text-placeholder);
      font-size: var(--kui-font-size-sm);
    }
  }

  .k-picker-date-grid {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .k-picker-day {
    cursor: pointer;
    color: var(--kui-control-text);
    border-radius: var(--kui-control-radius);
    position: relative;
    display: block;
    text-align: center;
    overflow: hidden;
    border: 1px solid transparent;
    width: calc(100% - 4px);
    height: var(--kui-control-height);
    line-height: var(--kui-control-height);
    font-size: var(--kui-font-size);
    margin: 2px;
    box-sizing: border-box;

    &:hover {
      background: var(--kui-color-item-hover);
    }

    &:active {
      background: var(--kui-color-item-active);
    }
  }

  .k-picker-day-out {
    color: var(--kui-color-text-placeholder);
    background: none;
  }

  .k-picker-day-in {
    background: var(--kui-color-item-selected);
  }
  .k-picker-is-today {
    color: var(--kui-color-primary);
    background-color: var(--kui-color-bg-component-active);

    &:after {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      background: var(--kui-color-primary);
      right: 1px;
      top: 1px;
      border-radius: var(--kui-shape-circle);
    }
  }
  .k-picker-header-label {
    font-size: var(--kui-font-size);
    color: var(--kui-control-text);
    cursor: pointer;
    font-weight: bold;
    flex: 1;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    span:hover {
      color: var(--kui-color-primary);
    }
  }
  .k-picker-month-body,
  .k-picker-year-body {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 10px;
  }
  .k-picker-month-item,
  .k-picker-year-item {
    width: calc((100% - 20px) / 3);
    text-align: center;
    display: flex;
    font-size: var(--kui-font-size);
    align-items: center;
    justify-content: center;
    border-radius: var(--kui-control-radius);
    cursor: pointer;
    &:hover {
      background: var(--kui-color-item-hover);
    }
    &:active {
      background: var(--kui-color-item-active);
    }
  }
  .k-picker-day-selected,
  .k-picker-year-selected,
  .k-picker-month-selected {
    color: var(--kui-color-text-on-solid);
    font-weight: bold;
    background: var(--kui-color-primary);
    &:hover {
      background: var(--kui-color-primary);
    }
    &::after {
      background-color: var(--kui-color-text-on-solid);
    }
  }
  .k-picker-footer {
    box-sizing: border-box;
    font-size: var(--kui-font-size);
    border-top: 1px solid var(--kui-control-border);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .k-picker-footer-time-split {
    width: var(--kui-control-height-lg);
    position: relative;
    height: var(--kui-control-height-lg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--kui-font-size-lg);
  }
  .k-picker-footer-time {
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex: 1;
    color: var(--kui-control-text);
    &:hover {
      background: var(--kui-color-item-hover);
    }
    &:active {
      background: var(--kui-color-item-active);
    }
    &.active {
      color: var(--kui-color-primary);
      text-shadow: 0 0 1px var(--kui-color-primary);
    }
  }
  .k-picker-time-picker {
    display: flex;
    height: 262px;
    border-top: 1px solid var(--kui-control-border);
  }
  .k-picker-time-col {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
    &::-webkit-scrollbar {
      display: none;
    }
    &::before,
    &::after {
      content: "";
      display: block;
      height: 152px;
    }
    &:nth-last-child(2) {
      border-left: 1px solid var(--kui-control-border);
      border-right: 1px solid var(--kui-control-border);
    }
  }
  .k-picker-time-item {
    height: var(--kui-control-height);
    line-height: var(--kui-control-height);
    cursor: pointer;
    color: var(--kui-control-text);
    font-size: 13px;
    opacity: 0.6;
    transition: all 0.2s;
    &:hover {
      background: var(--kui-color-item-hover);
      opacity: 1;
    }
    &:active {
      background: var(--kui-color-item-active);
    }
  }
  .k-picker-time-item.active {
    background: var(--kui-color-item-active);
    color: var(--kui-color-primary);
    font-weight: bold;
    opacity: 1;
    transform: scale(1.1);
  }
  .k-picker-day-disabled,
  .k-picker-time-disabled {
    color: var(--kui-color-text-disabled);
    opacity: var(--kui-disabled-opacity);
    cursor: not-allowed;
  }
}

.k-datepicker-overlay[mode="time"] {
  width: 200px;
  .k-picker-time-picker {
    border-top: none;
  }
}

.k-date-picker-enter-active {
  transform-origin: 0 0;
  animation: k-motion-scale-y-in 0.3s;
}

.k-date-picker-leave-active {
  transform-origin: 0 0;
  animation: k-motion-scale-y-in 0.3s reverse;
}
