::selection {
  background-color: var(--kui-color-primary);
  color: #fff;
}

input::placeholder,
textarea::placeholder {
  color: var(--kui-color-text-placeholder);
}

a {
  color: var(--kui-color-primary);
  text-decoration: none;
}
