//颜色
@main: #3a95ff;
@success: #00bb5d;
@danger: #ff3300;
@warning: #ffa500;

@pink: lighten( purple, 45%);
@red: lighten(red, 5%);
@yellow: mix(yellow, orange, 50%);
@orange: lighten(orange, 8%);
@cyan: darken(cyan, 10%);
@green: lighten(green, 15%);
@blue: mix(blue, cyan, 50%);
@purple: lighten(mix(purple,blue, 60%),30%);
@geekblue: mix(blue, cyan, 70%); //极客蓝
@magenta: mix(pink, red, 40%); //洋红
@volcano: mix(red, orange, 60%); //火红
@gold: lighten(gold, 10%);
@lime: mix(green, yellow, 40%); //绿黄色
@gray: #969696;
@dark: rgba(0, 0, 0, .75);


@color: rgba(0, 0, 0, .75); //字体
@color-light: rgba(255, 255, 255, .65);

@title-color: rgba(0, 0, 0, .85); //标题凸显颜色

@back-color: #fff; //组件背景

@mask-color: rgba(0, 0, 0, .6); //蒙层背景
@icon-color: rgba(0, 0, 0, .4); //图标颜色
@hover-color:fadeout(@border-color, 60%); //item 的 hover 颜色
@selected-color:fadeout(@main, 90%); //item 的 hover 颜色

@radius: ~'2px'; //圆角
@border-color: #d8d8d8; //边框颜色
@disable-border: #d0d0d0; //禁用边框颜色
@disable-back: #f5f5f5;//禁用背景颜色
@disable-color: rgba(0, 0, 0, .3); //禁用文字颜色

@disable-light-color: rgba(255, 255, 255, .3);

@dark-back: #22303f; //组件的暗黑模式背景