// --- 基础半径 ---
@radius: 6px;
@cardRadius: 10px;

// --- 功能色体系 ---
@main: #54a9ff;
@main-hover: lighten(@main, 10%);
@main-active: darken(@main, 5%);
@main-1: fadeout(@main, 10%);
@main-3: fadeout(@main, 30%);
@main-6: fadeout(@main, 60%);
@main-8: fadeout(@main, 80%);
@main-9: fadeout(@main, 90%);

// 成功色
@success: #00bb5d;
@success-hover: lighten(@success, 10%);
@success-active: darken(@success, 5%);
@success-1: fadeout(@success, 10%);
@success-3: fadeout(@success, 30%);
@success-6: fadeout(@success, 60%);
@success-8: fadeout(@success, 80%);
@success-9: fadeout(@success, 90%);

// 错误色
@danger: #fc725a;
@danger-hover: lighten(@danger, 10%);
@danger-active: darken(@danger, 5%);
@danger-1: fadeout(@danger, 10%);
@danger-3: fadeout(@danger, 30%);
@danger-6: fadeout(@danger, 60%);
@danger-8: fadeout(@danger, 80%);
@danger-9: fadeout(@danger, 90%);
@dark-danger: darken(@danger, 20%);

// 黄色
@warning: #ffae43;
@warning-hover: lighten(@warning, 10%);
@warning-active: darken(@warning, 5%);
@warning-1: fadeout(@warning, 10%);
@warning-3: fadeout(@warning, 30%);
@warning-6: fadeout(@warning, 60%);
@warning-8: fadeout(@warning, 80%);
@warning-9: fadeout(@warning, 90%);

// 粉色
@pink: darken(pink, 15%);
@pink-3: fadeout(@pink, 30%);
@pink-6: fadeout(@pink, 60%);
@pink-8: fadeout(@pink, 80%);
@pink-9: fadeout(@pink, 90%);

// 红色
@red: lighten(red, 5%);
@red-3: fadeout(@red, 30%);
@red-6: fadeout(@red, 60%);
@red-8: fadeout(@red, 80%);
@red-9: fadeout(@red, 90%);

// 黄色
@yellow: darken(yellow, 10%);
@yellow-3: fadeout(@yellow, 30%);
@yellow-6: fadeout(@yellow, 60%);
@yellow-8: fadeout(@yellow, 80%);
@yellow-9: fadeout(@yellow, 90%);

// 橙色
@orange: orange;
@orange-3: fadeout(@orange, 30%);
@orange-6: fadeout(@orange, 60%);
@orange-8: fadeout(@orange, 80%);
@orange-9: fadeout(@orange, 90%);

// 青色
@cyan: darken(cyan, 10%);
@cyan-3: fadeout(@cyan, 30%);
@cyan-6: fadeout(@cyan, 60%);
@cyan-8: fadeout(@cyan, 80%);
@cyan-9: fadeout(@cyan, 90%);

// 紫色
@violet: violet;
@violet-3: fadeout(@violet, 30%);
@violet-6: fadeout(@violet, 60%);
@violet-8: fadeout(@violet, 80%);
@violet-9: fadeout(@violet, 90%);

// 绿色
@green: lighten(green, 15%);
@green-3: fadeout(@green, 30%);
@green-6: fadeout(@green, 60%);
@green-8: fadeout(@green, 80%);
@green-9: fadeout(@green, 90%);

// 蓝色
@blue: mix(blue, cyan, 50%);
@blue-3: fadeout(@blue, 30%);
@blue-6: fadeout(@blue, 60%);
@blue-8: fadeout(@blue, 80%);
@blue-9: fadeout(@blue, 90%);

// 紫色
@purple: lighten(purple, 15%);
@purple-3: fadeout(@purple, 30%);
@purple-6: fadeout(@purple, 60%);
@purple-8: fadeout(@purple, 80%);
@purple-9: fadeout(@purple, 90%);

// 褐色
@brown: mix(brown, orange, 50%);
@brown-3: fadeout(@brown, 30%);
@brown-6: fadeout(@brown, 60%);
@brown-8: fadeout(@brown, 80%);
@brown-9: fadeout(@brown, 90%);

//鸭绿色 / 水鸭色
@teal: teal;
@teal-3: fadeout(@teal, 30%);
@teal-6: fadeout(@teal, 60%);
@teal-8: fadeout(@teal, 80%);
@teal-9: fadeout(@teal, 90%);

//洋红
@magenta: magenta;
@magenta-3: fadeout(@magenta, 30%);
@magenta-6: fadeout(@magenta, 60%);
@magenta-8: fadeout(@magenta, 80%);
@magenta-9: fadeout(@magenta, 90%);

//橄榄
@olive: olive;
@olive-3: fadeout(@olive, 30%);
@olive-6: fadeout(@olive, 60%);
@olive-8: fadeout(@olive, 80%);
@olive-9: fadeout(@olive, 90%);

//火红
@volcano: mix(red, orange, 60%);
@volcano-3: fadeout(@volcano, 30%);
@volcano-6: fadeout(@volcano, 60%);
@volcano-8: fadeout(@volcano, 80%);
@volcano-9: fadeout(@volcano, 90%);

//金色
@gold: darken(gold, 15%);
@gold-3: fadeout(@gold, 30%);
@gold-6: fadeout(@gold, 60%);
@gold-8: fadeout(@gold, 80%);
@gold-9: fadeout(@gold, 90%);

//绿黄色
@lime: darken(lime, 15%);
@lime-3: fadeout(@lime, 30%);
@lime-6: fadeout(@lime, 60%);
@lime-8: fadeout(@lime, 80%);
@lime-9: fadeout(@lime, 90%);

//灰色
@gray: #969696;
@gray-1: fadeout(@gray, 10%);
@gray-2: fadeout(@gray, 20%);
@gray-3: fadeout(@gray, 30%);
@gray-4: fadeout(@gray, 40%);
@gray-5: fadeout(@gray, 50%);
@gray-6: fadeout(@gray, 60%);
@gray-7: fadeout(@gray, 70%);
@gray-8: fadeout(@gray, 80%);
@gray-9: fadeout(@gray, 90%);

// --- 中性色（用于布局和容器） ---
@white: #fff;
@black: #000;

// --- 通用组件颜色  ---

// 边框颜色
@border-color: #e7e7e7;
@dark-border-color: #3b3b3b;

//禁用边框颜色
@disable-border-color: rgba(216, 216, 216, 0.4);
@dark-disable-border-color: rgba(83, 83, 83, 0.4);

// 正文文字颜色
@text-color: rgba(0, 0, 0, 0.75);
@dark-text-color: rgba(255, 255, 255, 0.9);

// 禁用正文文字颜色
@disable-text-color: rgba(0, 0, 0, 0.3);
@dark-disable-text-color: rgba(255, 255, 255, 0.3);

// 标题文字颜色
@title-color: rgba(0, 0, 0, 0.85);
@dark-title-color: rgba(255, 255, 255, .85);

// 辅助/描述文字颜色
@description-color: rgba(0, 0, 0, .65);
@dark-description-color: rgba(255, 255, 255, .65);