/*
::-webkit-scrollbar — 整个滚动条。
::-webkit-scrollbar-button — 滚动条上的按钮（向上和向下的箭头，一次滚动一行）。
::-webkit-scrollbar-thumb — 可拖动的滚动手柄。
::-webkit-scrollbar-track — 滚动条的轨迹（进度条），在白色条的顶部有一个灰色条。
::-webkit-scrollbar-track-piece — 没有被手柄覆盖的轨道部分（进度条）。
::-webkit-scrollbar-corner — 滚动条的底角，水平和垂直滚动条相交的地方 这通常是浏览器窗口的右下角。
::-webkit-resizer — 出现在某些元素底角的可拖动调整大小手柄。
*/

::selection {
  background-color: var(--kui-color-primary);
  color: #fff;
}
input::placeholder,
textarea::placeholder {
  color: var(--kui-color-disabled);
}
.k-scroll {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    width: 6px;
    height: 6px;
    min-height: 55px;
    min-width: 55px;
    background-color: var(--kui-color-border);
  }

  &::-webkit-scrollbar-corner,
  ::-webkit-resizer {
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

a {
  color: var(--kui-color-primary);
  text-decoration: none;
}

// theme
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  isolation: isolate;
  will-change: transform, opacity;
}

[theme-mode="light"]::view-transition-old(root) {
  z-index: 999;
}

[theme-mode="light"]::view-transition-new(root) {
  z-index: 1;
}

[theme-mode="dark"]::view-transition-old(root) {
  z-index: 1;
}

[theme-mode="dark"]::view-transition-new(root) {
  z-index: 999;
}

:root {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  // transition: none !important;
}
