@import '../../styles/global.less';
.k-tag {
  display: inline-block;
  line-height: 20px;
  height: auto;
  padding: 0 7px;
  border: 1px solid @border-color;
  background-color: @back-color;
  font-size: 12px;
  border-radius: @radius;
  box-sizing: border-box;
  white-space: nowrap;
  margin-right: 8px;
  vertical-align: middle;
  cursor: pointer;
  .k-tag-close {
    font-size: 16px;
    margin-left: 4px;
    vertical-align: -4px;
    &:hover {
      color: @danger;
    }
  }
  &-pink {
    color: @pink;
    border-color: @pink;
    background-color: tint(@pink, 90%);
  }
  &-red {
    color: @red;
    border-color: @red;
    background-color: tint(@red, 90%);
  }
  &-yellow {
    color: saturate(@yellow, 30%);
    border-color: @yellow;
    background-color: tint(@yellow, 90%);
  }
  &-orange {
    color: @orange;
    border-color: @orange;
    background-color: tint(@orange, 90%);
  }
  &-cyan {
    color: @cyan;
    border-color: @cyan;
    background-color: tint(@cyan, 90%);
  }
  &-green {
    color: @green;
    border-color: @green;
    background-color: tint(@green, 90%);
  }
  &-blue {
    color: @blue;
    border-color: @blue;
    background-color: tint(@blue, 90%);
  }
  &-purple {
    color: @purple;
    border-color: @purple;
    background-color: tint(@purple, 90%);
  }
  &-geekblue {
    color: @geekblue;
    border-color: @geekblue;
    background-color: tint(@geekblue, 90%);
  }
  &-magenta {
    color: @magenta;
    border-color: @magenta;
    background-color: tint(@magenta, 90%);
  }
  &-volcano {
    color: @volcano;
    border-color: @volcano;
    background-color: tint(@volcano, 90%);
  }
  &-gold {
    color: @gold;
    border-color: @gold;
    background-color: tint(@gold, 90%);
  }
  &-lime {
    color: @lime;
    border-color: @lime;
    background-color: tint(@lime, 90%);
  }
}

.k-tag-has-color {
  color: #fff;
  border-color: transparent;
  .k-tag-close {
    color: #fff;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0, 0);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
    transform: scale(1, 1);
  }
  to {
    opacity: 0;
    transform: scale(0, 0);
  }
}

.k-tag-enter-active {
  animation: zoomIn .2s ease-out;
}

.k-tag-leave-active {
  animation: zoomOut .2s ease-out;
}