@import "../../styles/less-css-var.less";

.k-tag {
  gap: 3px;
  line-height: 1;
  height: var(--kui-control-height);
  flex-shrink: 0;
  padding: 0 15px;
  border: 1px solid var(--kui-control-border, var(--kui-color-border));
  font-size: 14px;
  border-radius: var(--kui-control-radius, var(--kui-shape-round, var(--kui-border-radius)));
  background: var(--kui-color-bg-component);
  box-sizing: border-box;
  white-space: nowrap;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  color: var(--kui-control-text, var(--kui-color-text));

  &.k-tag-circle {
    border-radius: 16px;
  }
  &.k-tag-square {
    border-radius: 2px;
  }
  .k-tag-icon {
    margin-right: 5px;
  }

  .k-tag-close {
    font-size: 18px;
    margin-left: 2px;
    color: var(--kui-color-text-description);
    cursor: pointer;
    &:hover {
      color: var(--kui-color-danger);
    }
  }

  &.k-tag-closeable {
    padding-right: 7px;
  }

  &-pink {
    color: var(--kui-color-pink-3, color-mix(in srgb, var(--kui-color-pink) 70%, transparent));
    border-color: var(
      --kui-color-pink-6,
      color-mix(in srgb, var(--kui-color-pink) 40%, transparent)
    );
    background-color: var(
      --kui-color-pink-9,
      color-mix(in srgb, var(--kui-color-pink) 10%, transparent)
    );
  }

  &-red {
    color: var(--kui-color-red-3, color-mix(in srgb, var(--kui-color-red) 70%, transparent));
    border-color: var(--kui-color-red-6, color-mix(in srgb, var(--kui-color-red) 40%, transparent));
    background-color: var(
      --kui-color-red-9,
      color-mix(in srgb, var(--kui-color-red) 10%, transparent)
    );
  }

  &-yellow {
    color: var(--kui-color-yellow-3, color-mix(in srgb, var(--kui-color-yellow) 70%, transparent));
    border-color: var(
      --kui-color-yellow-6,
      color-mix(in srgb, var(--kui-color-yellow) 40%, transparent)
    );
    background-color: var(
      --kui-color-yellow-9,
      color-mix(in srgb, var(--kui-color-yellow) 10%, transparent)
    );
  }

  &-orange {
    color: var(--kui-color-orange-3, color-mix(in srgb, var(--kui-color-orange) 70%, transparent));
    border-color: var(
      --kui-color-orange-6,
      color-mix(in srgb, var(--kui-color-orange) 40%, transparent)
    );
    background-color: var(
      --kui-color-orange-9,
      color-mix(in srgb, var(--kui-color-orange) 10%, transparent)
    );
  }

  &-cyan {
    color: var(--kui-color-cyan-3, color-mix(in srgb, var(--kui-color-cyan) 70%, transparent));
    border-color: var(
      --kui-color-cyan-6,
      color-mix(in srgb, var(--kui-color-cyan) 40%, transparent)
    );
    background-color: var(
      --kui-color-cyan-9,
      color-mix(in srgb, var(--kui-color-cyan) 10%, transparent)
    );
  }

  &-green {
    color: var(--kui-color-green-3, color-mix(in srgb, var(--kui-color-green) 70%, transparent));
    border-color: var(
      --kui-color-green-6,
      color-mix(in srgb, var(--kui-color-green) 40%, transparent)
    );
    background-color: var(
      --kui-color-green-9,
      color-mix(in srgb, var(--kui-color-green) 10%, transparent)
    );
  }

  &-blue {
    color: var(--kui-color-blue-3, color-mix(in srgb, var(--kui-color-blue) 70%, transparent));
    border-color: var(
      --kui-color-blue-6,
      color-mix(in srgb, var(--kui-color-blue) 40%, transparent)
    );
    background-color: var(
      --kui-color-blue-9,
      color-mix(in srgb, var(--kui-color-blue) 10%, transparent)
    );
  }

  &-purple {
    color: var(--kui-color-purple-3, color-mix(in srgb, var(--kui-color-purple) 70%, transparent));
    border-color: var(
      --kui-color-purple-6,
      color-mix(in srgb, var(--kui-color-purple) 40%, transparent)
    );
    background-color: var(
      --kui-color-purple-9,
      color-mix(in srgb, var(--kui-color-purple) 10%, transparent)
    );
  }

  &-magenta {
    color: var(
      --kui-color-magenta-3,
      color-mix(in srgb, var(--kui-color-magenta) 70%, transparent)
    );
    border-color: var(
      --kui-color-magenta-6,
      color-mix(in srgb, var(--kui-color-magenta) 40%, transparent)
    );
    background-color: var(
      --kui-color-magenta-9,
      color-mix(in srgb, var(--kui-color-magenta) 10%, transparent)
    );
  }

  &-volcano {
    color: var(
      --kui-color-volcano-3,
      color-mix(in srgb, var(--kui-color-volcano) 70%, transparent)
    );
    border-color: var(
      --kui-color-volcano-6,
      color-mix(in srgb, var(--kui-color-volcano) 40%, transparent)
    );
    background-color: var(
      --kui-color-volcano-9,
      color-mix(in srgb, var(--kui-color-volcano) 10%, transparent)
    );
  }

  &-gold {
    color: var(--kui-color-gold-3, color-mix(in srgb, var(--kui-color-gold) 70%, transparent));
    border-color: var(
      --kui-color-gold-6,
      color-mix(in srgb, var(--kui-color-gold) 40%, transparent)
    );
    background-color: var(
      --kui-color-gold-9,
      color-mix(in srgb, var(--kui-color-gold) 10%, transparent)
    );
  }

  &-lime {
    color: var(--kui-color-lime-3, color-mix(in srgb, var(--kui-color-lime) 70%, transparent));
    border-color: var(
      --kui-color-lime-6,
      color-mix(in srgb, var(--kui-color-lime) 40%, transparent)
    );
    background-color: var(
      --kui-color-lime-9,
      color-mix(in srgb, var(--kui-color-lime) 10%, transparent)
    );
  }
}
.k-tag.k-tag-fill {
  border-color: transparent;
  background-color: var(
    --kui-theme-fill-bg,
    var(--kui-control-bg-fill, var(--kui-color-bg-component-overlay))
  );
}
.k-tag-has-color {
  color: var(--kui-color-text-on-solid);
  border-color: transparent;

  .k-tag-close {
    color: var(--kui-color-text-on-solid);
  }
}

.k-tag-sm {
  height: var(--kui-control-height-sm);
  padding: 0 7px;
  font-size: 12px;

  &.k-tag-closeable {
    padding-right: 3px;
  }

  .k-tag-close {
    font-size: 16px;
  }

  &.k-tag-circle {
    border-radius: 16px;
  }
}

.k-tag-lg {
  height: var(--kui-control-height-lg);
  padding: 0 18px;

  .k-tag-text {
    font-size: 16px;
  }

  &.k-tag-closeable {
    padding-right: 9px;
  }

  &.k-tag-circle {
    border-radius: 20px;
  }
}

.k-tag-compact {
  height: calc(var(--kui-control-height) - 10px);
  padding: 0 6px;
  font-size: var(--kui-font-size-sm);

  &.k-tag-closeable {
    padding-right: 4px;
  }

  .k-tag-close {
    font-size: var(--kui-font-size);
  }

  &.k-tag-sm {
    height: calc(var(--kui-control-height-sm) - 6px);
    padding: 0 5px;

    &.k-tag-closeable {
      padding-right: 3px;
    }
  }

  &.k-tag-lg {
    height: calc(var(--kui-control-height-lg) - 12px);
    padding: 0 8px;

    &.k-tag-closeable {
      padding-right: 6px;
    }

    .k-tag-text {
      font-size: var(--kui-font-size);
    }
  }
}
@keyframes k-tag-zoom {
  from {
    opacity: 0;
    transform: scale(0, 0);
  }

  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.k-tag-enter-active {
  animation: k-tag-zoom 0.2s ease-out;
}

.k-tag-leave-active {
  animation: k-tag-zoom 0.2s ease-out reverse;
}

.k-tag-plain {
  border-color: transparent;
  background: transparent;
}
