.k-layout {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .k-layout-header {
    box-sizing: border-box;
  }
  .k-layout-content {
    flex: 1;
    min-width: 0;
  }
  .k-layout-sider {
    position: relative;
    min-width: 0;
  }
  .k-layout-footer {
    padding: 24px 50px;
    font-size: 14px;
  }
}

.k-layout-has-sider {
  flex-direction: row;
  width: 100%;
  .k-layout {
    min-width: 0;
    flex: 1;
  }
}
