@import "../../styles/less-css-var.less";

.k-backtop {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 10;
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: block;
  overflow: hidden;
  border-radius: var(--kui-border-radius);

  &-content {
    background-color: var(--kui-color-bg-component);
    height: 40px;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    line-height: 40px;
    color: var(--kui-color-text);

    &:hover {
      background-color: var(--kui-color-bg-component-hover);
    }
    &:active {
      background-color: var(--kui-color-bg-component-active);
    }
  }
}

@keyframes k-backtop-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.k-backtop-fade-enter-active {
  animation: k-backtop-fade 0.4s;
}

.k-backtop-fade-leave-active {
  animation: k-backtop-fade 0.4s reverse;
}
