.k-demo {
  border: 1px solid var(--kui-color-border);
  margin: 10px 0;
  position: relative;
  border-radius: 13px;
  transition: all 0.3s;
  .k-content,
  .k-desc {
    padding: 20px;
    box-sizing: border-box;
  }

  .k-desc {
    margin: 30px 0 0;
    border-top: 1px solid var(--kui-color-border);
    position: relative;

    h4 {
      position: absolute;
      top: -55px;
      font-size: 15px;
      font-weight: 600;
      line-height: 1;
      padding: 5px 10px 5px 0;
    }

    .k-desc-content {
      padding-right: 50px;
      position: relative;

      p {
        margin: 0;
        padding: 0;
      }
    }
  }

  .k-code-actions {
    border-top: 1px dashed var(--kui-color-border);
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    border-radius: 0 0 12px 12px;
    background-color: var(--kui-color-bg-container);
    overflow: hidden;
    .k-btn {
      flex: 1;
      border-radius: 0;
    }
  }

  .k-code-box {
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    background-color: var(--kui-color-bg-container);
    .k-code-pre {
      height: 100%;
      min-height: 100%;
      font-size: 0;
      overflow: hidden; // margin: 10px 0;
      transition: height 0.3s ease-in-out;
      line-height: 2;
    }

    code,
    kbd,
    samp {
      font-size: 14px;
      line-height: 2;
    }

    .hljs {
      margin: 0;
      font-size: 14px;
      box-sizing: border-box;
    }

    pre {
      border-top: 1px dashed var(--kui-color-border);
      margin: 0;
    }
  }

  .k-code-expan {
    font-size: 24px;
    color: #7d7d7d;
    cursor: pointer;
  }
  .k-code-tools {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 20px 5px 10px;
    background: #eeeeee1e;
    border-radius: 0 12px 0 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
}
.k-demo-expanded {
  .k-code-actions {
    position: sticky;
    bottom: 0;
  }
}
.k-demo-horizontal {
  display: flex;
  .k-demo-view {
    width: 40%;
    flex-shrink: 0;
  }
  pre {
    border-radius: 0 0 12px 12px;
  }
  .k-content {
    overflow: auto;
    min-height: 425px;
    height: 425px;
  }
  .k-code-box {
    height: 425px;
    width: 60%;
    flex-shrink: 0;
    display: flex;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
    .k-code {
      display: flex;
      flex: 1px;
      overflow: auto;
      border-radius: 0 12px 12px 0;

      pre {
        border-radius: 0 12px 12px 0;
        flex: 1;
        box-sizing: border-box;
        background-color: transparent;
        border: none;
      }
      .hljs {
        background-color: transparent;
      }
    }
  }
}

.k-demo-container {
  margin-bottom: 60px;
}
