@import '../../styles/global.less';
.k-menu {
	display: block;
	margin: 0;
	padding: 0;
	outline: 0;
	list-style: none;
	font-size: 14px;
	position: relative;
	zoom: 1;
	background: #fff;
	&:after, &:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: block;
		height: 0;
		clear: both;
	}
	.k-icon {
		margin-right: 8px;
	}
	&-submenu-arrow {
		transition: all .3s;
	}
	&-item, &-title {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&-popup, &-popup ul {
		padding: 0;
		margin: 0;
		left: 0;
		list-style: none;
	}
	// horizontal
	&-horizontal {
		line-height: 50px;
		border-bottom: 1px solid @borderColor;
		white-space: nowrap;
		font-size: 0;
		//一层
		>.k-menu-item, >.k-menu-submenu {
			padding: 0 20px;
			position: relative;
			cursor: pointer;
			font-size: 14px;
			z-index: 3;
			cursor: pointer;
			display: inline-block;
			border-bottom: 2px solid transparent;
			top: 1px;
			vertical-align: bottom;
			// &:after {
			// 	position: absolute;
			// 	content: '';
			// 	height: 0;
			// 	bottom: 0;
			// 	width: 30px;
			// 	margin-left: -15px;
			// 	left: 50%;
			// }
			&:hover .k-menu-submenu-arrow {
				transform: rotate(180deg);
			}
			a {
				color: @color;
				display: block;
				&:hover {
					color: @main;
				}
			}
		}
		.k-menu-item-group {
			background: #fff;
			.k-menu-item-group-title {
				color: @iconColor;
				font-size: 12px;
				line-height: 35px;
				padding: 0 12px;
			}
		}
		//二层
		.k-menu-popup {
			margin-top: 5px;
			box-sizing: content-box;
			position: absolute;
			z-index: 1001;
			width: 100%;
			min-width: 160px;
			box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
			// .k-menu-popup {
			// 	display: inline-block;
			// 	border-radius: @radius;
			// 	box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
			// }
			// .k-menu-item {
			// 	padding: 7px 16px 8px;
			// 	line-height: normal;
			// 	box-sizing: border-box;
			// 	width: 100%;
			// 	min-width: 120px;
			// 	color: initial;
			// 	&:after {
			// 		display: none;
			// 	}
			// }
		}
		//三层
		.k-menu-submenu {
			.k-menu-submenu {
				width: 100%;
				padding: 0;
				// padding: 7px 16px 8px;
				.k-menu-title {
					// padding: 0 16px;
					padding: 10px 16px 11px;
					line-height: 1;
					position: relative;
				}
				&:hover {
					.k-menu-submenu-arrow {
						transform: rotate(90deg);
					}
				}
				.k-menu-submenu-arrow {
					position: absolute;
					right: 10px;
					top: 50%;
					margin: -7px 0 0 0;
					transform: rotate(-90deg);
				}
				.k-menu-dropdown {
					left: 100%;
					top: 0;
					margin: -5px 0 0 0;
				}
			}
		}
		>.k-menu-item-active, >.k-menu-item-selected, >.k-menu-submenu-active, >.k-menu-submenu-selected {
			color: @main;
			border-bottom: 2px solid @main;
			.k-menu-item {
				color: @color;
				&:hover {
					color: @main;
				}
				&-selected {
					color: @main;
					background-color: tint(@main, 90);
				}
			}
		}
		.k-menu-item-disabled, .k-menu-submenu-disabled {
			color: @disableColor;
			cursor: not-allowed;
			&:hover {
				color: @disableColor;
				border-bottom-color: transparent;
			}
		}
	}
	//inline
	&-inline, &-vertical {
		.k-menu {
			border: 0;
		}
		border-right: 1px solid @borderColor;
		>.k-menu-submenu-active, >.k-menu-submenu-selected {
			>.k-menu-title {
				color: @main;
			}
		}
		.k-menu-item {
			width: calc(100% + 1px);
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				border-right: 3px solid @main;
				height: 0;
			}
		}
		.k-menu-item-active, .k-menu-item-selected {
			color: @main;
		}
		.k-menu-item-selected {
			position: relative;
			background-color: tint(@main, 90);
			&::before {
				transition: all .3s;
				top: 0;
				height: 100%;
			}
		}
		.k-menu-item-disabled, .k-menu-submenu-disabled {
			color: @disableColor;
			cursor: not-allowed;
			&:hover {
				color: @disableColor;
				border-bottom-color: transparent;
			}
		}
		.k-menu-item, .k-menu-title {
			line-height: 50px;
			padding: 0 24px;
			box-sizing: border-box;
			overflow: hidden;
			cursor: pointer;
			position: relative;
		}
		.k-menu-title .k-menu-submenu-arrow {
			transform: rotate(0deg);
			float: right;
			margin-top: 18px;
		}
		.k-menu-submenu {
			.k-menu-item-group-title {
				padding-left: 32px;
			}
			.k-menu-item, .k-menu-submenu .k-menu-title {
				padding-left: 48px;
			}
			.k-menu-submenu .k-menu-item {
				padding-left: 60px;
			}
		}
		.k-menu-popup {
			transition: height .3s ease-in-out, opacity .3s ease-in-out;
		}
		.k-menu-submenu-opened {
			>.k-menu-title {
				.k-menu-submenu-arrow {
					transform: rotate(-180deg);
				}
			}
		}
		.k-menu-item-group-title {
			color: @iconColor;
			padding: 8px 16px;
			font-size: 12px;
		}
	}
	&-vertical {
		.k-menu-title .k-menu-submenu-arrow {
			transform: rotate(-90deg);
		}
		.k-menu-submenu-opened {
			>.k-menu-title {
				.k-menu-submenu-arrow {
					transform: rotate(-90deg);
				}
			}
		}
		.k-menu-popup{
			position: absolute;
			top: 0;
			background-color: #fff;
		}
	}
}

.k-collaplse-slide-enter-actived {
	animation: slideIn 0.3s ease-in-out;
	animation-fill-mode: both;
}

.k-collaplse-slide-leave-actived {
	animation: slideOut 0.3s ease-in-out;
	animation-fill-mode: both;
}

@keyframes slideIn {
	0% {
		transform: scaleY(0);
		transform-origin: 0% 0%;
		opacity: 0;
	}
	100% {
		transform: scaleY(1);
		transform-origin: 0% 0%;
		opacity: 1;
	}
}

@keyframes slideOut {
	0% {
		transform: scaleY(1);
		transform-origin: 0% 0%;
		opacity: 1;
	}
	100% {
		transform: scaleY(0);
		transform-origin: 0% 0%;
		opacity: 0;
	}
}