@import "../../styles/less-css-var.less";

.k-page {
  color: var(--kui-color-text);
  font-size: 14px;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  flex-shrink: 0;

  .k-pager {
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0;
  }
  .k-pager-item {
    background: transparent;
    color: var(--kui-color-text);
    min-width: 32px;
    height: 32px;
    line-height: 1;
    border-radius: var(--kui-border-radius);
    margin: 0 8px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-left: -1px;
    font-size: 14px;
    position: relative;
    vertical-align: middle;

    span {
      margin: 0 5px;
    }

    .k-icon {
      color: var(--kui-color-icon);
    }
  }

  .k-pager-more {
    font-size: 20px;
    border-color: transparent;
  }

  .k-pager-prev {
    .k-icon {
      transform: rotate(-90deg);
      transform-origin: center;
    }
  }

  .k-pager-next {
    .k-icon {
      transform-origin: center;
      transform: rotate(90deg);
    }
  }

  .k-pager-item-disabled {
    border-color: var(--kui-color-border-disabled);
    cursor: not-allowed;

    .k-icon {
      color: var(--kui-color-text-disabled);
    }
  }

  .k-pager-more {
    color: var(--kui-color-text-placeholder);
  }

  .k-page-sizer {
    display: inline-block;
  }

  .k-page-number {
    margin: 0 4px;
    display: inline-block;
    font-size: 14px;
  }

  .k-page-options {
    display: inline-block;
    font-size: 14px;

    span {
      padding: 0 5px;
    }

    .k-page-options-elevator {
      width: 50px;
      font-size: 14px;
      text-align: center;
      vertical-align: middle;
    }

    .k-page-options-action {
      vertical-align: middle;
    }
  }
}
.k-page-light:not(.k-page-disabled) {
  .k-pager-item:not(.k-pager-item-disabled, .k-pager-item-active) {
    &:hover {
      background-color: var(--kui-color-item-hover);
    }
    &:active {
      background-color: var(--kui-color-item-active);
    }
  }
  .k-pager-item-active {
    background-color: var(--kui-color-item-selected);
    color: var(--kui-color-primary);
  }
  .k-pager-more,
  .k-pager-prev,
  .k-pager-next {
    &:not(.k-pager-item-disabled):hover .k-icon {
      color: var(--kui-color-text);
    }
  }
}
.k-page-disabled {
  cursor: not-allowed;
  color: var(--kui-color-text-disabled);
  .k-pager-item {
    color: var(--kui-color-text-disabled);
    border-color: var(--kui-color-border-disabled);
  }
  .k-pager-item-active {
    background-color: var(--kui-color-item-disabled);
    color: var(--kui-color-text-disabled);
  }
  * {
    cursor: not-allowed;
  }
}
.k-page-sm {
  .k-page-options {
    font-size: 12px;

    .k-page-options-elevator {
      font-size: 12px;
    }
  }

  .k-pager .k-pager-item {
    height: 22px;
    font-size: 12px;
    min-width: 22px;
  }

  .k-page-sizer {
    width: 86px;
  }

  .k-page-number {
    font-size: 12px;
  }
}
