@import "../../styles/motion.less";

.k-drawer-left-enter-active {
  animation: k-motion-slide-in-from-left 0.2s linear;
}

.k-drawer-left-leave-active {
  animation: k-motion-slide-out-to-left 0.2s linear;
}

.k-drawer-right-enter-active {
  animation: k-motion-slide-in-from-right 0.2s linear;
}

.k-drawer-right-leave-active {
  animation: k-motion-slide-out-to-right 0.2s linear;
}

.k-drawer-fade-enter-active {
  animation: k-motion-fade-in 0.4s linear;
}

.k-drawer-fade-leave-active {
  animation: k-motion-fade-in 0.4s linear reverse;
}

.k-drawer-top-enter-active {
  animation: k-motion-slide-in-from-top 0.2s linear;
}

.k-drawer-top-leave-active {
  animation: k-motion-slide-out-to-top 0.2s linear;
}

.k-drawer-bottom-enter-active {
  animation: k-motion-slide-in-from-bottom 0.2s linear;
}

.k-drawer-bottom-leave-active {
  animation: k-motion-slide-out-to-bottom 0.2s linear;
}
