.index {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: var(--kui-color-bg);

  .header {
    background: none;
    box-shadow: none;
    border-bottom: 1px solid var(--kui-color-border);

    .top-menu {
      background: none;
      border: none;
    }
  }

  .btn-gitee .k-icon {
    color: #ef2323;
  }

  .index-content {
    margin: auto;

    h1 {
      font-size: 34px;
      margin: 80px 0;
      text-align: center;
    }

    .btn-content {
      text-align: center;

      .k-btn {
        margin-left: 35px;
        transition: all 0.3s;
        font-size: 16px;
        cursor: pointer;
      }

      .start {
        // background: linear-gradient(45deg, #65b87f, #008028);
        background-color: #42b883;
        color: var(--kui-color-bg);
        // border: none;
        font-weight: 600;
      }
    }
  }
}

.web-icon {
  display: flex;
  align-items: center;
  line-height: 0;
}
