html {
  --mwd: 1376px;
  --swd: 272px;
  ;

}

.back {
  background-color: var(--kui-color-back);
}

.demo-back {
  background-color: var(--kui-color-gray-90) !important;
}

body {
  color: var(--kui-color-font);
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
textarea,
input,
button,
select,
pre tt,
kbd,
samp,
.serif {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  -moz-font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-synthesis: none;
}

a {
  text-decoration: none;
}

pre,
code {
  font-size: 14px;
  font-family: lucida console, Consolas, Monaco, andale mono, ubuntu mono, monospace;
}

.root {
  // max-width: var(--mwd);
}

.k-layout {
  .header {
    height: 60px;
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1001;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-width: 1015px;
    padding: 0 20px;
    display: flex;
    align-items: center;

    .header-inner {
      width: var(--mwd);
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      float: left;
      width: 272px;
      min-width: 272px;
      cursor: pointer;
      display: flex;
      align-items: center;

      .k-icon {
        vertical-align: middle;
        display: inline-block;
        margin-right: 10px;
        font-size: 40px;
        color: var(--kui-color-main);
      }

      .wrap-name {
        display: flex;
        flex-direction: column;
      }

      .name {
        font-weight: bold;
        font-size: 23px;
        white-space: nowrap;
      }

      .ver {
        font-weight: 100;
        font-size: 12px;
      }
    }

    .k-btn-lg .k-icon {
      font-size: 23px;
    }

    .top-menu {
      float: right;
      border: none;
      background: none;

      li {
        line-height: 30px;
      }
    }

    .search-component {
      flex: 1;
      position: relative;
      padding-left: 15px;
      display: flex;

      .k-select {
        width: 280px;
      }
    }
  }

  .main {
    background: var(--kui-color-back);
    padding-top: 50px;
    display: block;

    .docs-k-layout-sider {
      background: var(--kui-color-back);
      // width: 300px;
      // min-width: 300px;
      // max-width: 300px;
      // flex: 0 0 300px;
      position: fixed;
      height: calc(100vh - 60px);
      top: 60px;
      padding: 0 0 96px calc((100% - var(--mwd)) / 2);
      max-width: calc((100% - var(--mwd)) / 2 + var(--swd));

      .left-menu {
        width: var(--swd) // position: fixed;
          // left: 0;
          // padding-top: 20px;
          // z-index: 100;
          // overflow-y: auto;
          // bottom: 0;
          // width: 300px;
          // top: 54px;
          // overflow-x: hidden;
          // padding-right: 1px;
      }

      .left-menu {
        padding-bottom: 20px;
        padding-top: 30px;
        height: 100%;
        overflow: auto;

        .sub {
          font-size: 14px;
          margin-left: 8px;
        }
      }
    }

    &>.k-layout-content {
      // padding: 20px 40px 0px;
      padding-top: 20px;
      padding-left: calc((100vw - var(--mwd)) / 2 + var(--swd) + 30px);
      width: 1066px;

      .footer {
        background: none;
      }
    }
  }
}

.foot-nav {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;

  a {
    flex: 1;
    padding: 20px;
    display: block;
    display: flex;
    align-items: center;
    background: var(--kui-color-gray-90);
    border-radius: 12px;
    border: 1px solid var(--kui-color-border);
    color: var(--kui-color-font);
    text-decoration: none;

    &:hover {
      color: var(--kui-color-font);
      background: var(--kui-color-gray-80);
      border: 1px solid var(--kui-color-border);
    }

    &:active {
      background: var(--kui-color-gray-70);
    }
  }

  .nav-prev {
    margin-right: 10px;
    text-align: right;

    .nav-text {
      margin-right: 10px;
    }
  }

  .nav-next {
    margin-left: 10px;

    .nav-text {
      margin-left: 10px;
    }
  }

  .web-icon {
    font-size: 30px;
  }

  .nav-text {
    flex: 1;
  }
}

.demo-theme {
  margin: 35px 0;
  box-shadow: 0 8px 20px rgba(137, 160, 181, 0.35);
}

.all-components {
  .k-col {
    margin-bottom: 20px;

    a {
      color: rgba(0, 0, 0, 0.8);
    }
  }

  .k-card {
    transition: all .5s;
    cursor: pointer;

    &:hover {
      box-shadow: 0 10px 40px 10px rgba(0, 0, 0, 0.161);
      border-color: var(--kui-color-border);

      .icon-view {
        transform: scale(1.2);
        color: rgba(58, 150, 255, 0.314);
      }
    }

    .k-card-body {
      padding-top: 40px;
      padding-bottom: 40px;
      text-align: center;
      display: flex;
      justify-content: center;
    }

    .icon-view {
      font-size: 60px;
      transition: all .5s;
      color: var(--kui-color-font);
    }
  }
}

.footer {
  width: 100%;
  text-align: center;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 0;
  background-color: var(--kui-color-control-10);
  // color: #fff;
  margin-top: 80px;
  text-transform: uppercase;

  .beian {
    color: var(--kui-color-main);
    // color: #fff;
    margin: 0 20px 0 5px;
  }

  a {
    display: inline-flex;
    align-items: center;
  }

  img {
    height: 14px;
  }

  .author {
    color: var(--kui-color-main);
    text-transform: uppercase;
  }
}

html[theme-mode=dark] {
  .k-layout {
    .header {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  .k-demo {
    background-color: #171717;
  }

  .markdown-body {

    .hightlight pre,
    p>code,
    li>code,
    td>code,
    pre {
      background-color: var(--kui-color-gray-90);
    }
  }
}

@media (max-width: 1440px) {
  .k-layout .main>.k-layout-content {
    padding-left: var(--swd);
    width: auto;

    .content-inner {
      padding: 20px 40px;
    }

    .foot-nav {
      padding: 0 40px;
    }
  }
}

@media (max-width: 960px) {
  .k-layout .main>.k-layout-content {
    // padding-left: 0;
    padding: 20px 22px 0px;

    //   padding-left: var(--swd);
    //   .content-inner{
    //     padding: 20px 40px;
    //   }
    .content-inner {
      padding: 0;
    }

    .foot-nav {
      padding: 0;
    }
  }

  .main .docs-k-layout-sider {
    display: none;
    flex: auto;
  }

}

@media (max-width:750px) {
  body {
    // min-width: 100%;
  }

  .k-layout {
    .header {
      min-width: auto;

      .logo {
        width: auto;
        min-width: auto;
        flex: 1;
      }

      .search-component {
        flex: 0;

        .k-select {
          width: auto;
          min-width: 120px;
        }
      }

      .top-menu,
      .btn-gitee,
      .version,
      .more,
      .theme {
        display: none;
      }
    }

    .main .docs-k-layout-sider {
      display: none;
      flex: auto;
    }

    .main>.k-layout-content {
      padding: 20px 22px 0px;
    }
  }

  .footer {
    flex-direction: column;
  }
}

.markdown-body {
  max-width: 100%;
  color: var(--kui-color-font);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;

    &:hover .anchor {
      opacity: 1;
    }
  }

  h1,
  h2 {
    border: none;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 8px;
  }

  table tr {
    background-color: #ffffff00;
    border-bottom: 1px solid var(--kui-color-border);
  }

  .anchor {
    float: none;
    margin-left: 0;
    opacity: 0;
    transition: all .3s;
  }
}

.k-poptip-body {
  p {
    margin: 0;
  }
}


.web-icon {
  display: flex;
  align-items: center;
  line-height: 0;
}

.k-demo-main .k-content >div {
  max-width: 100%;
}