@import '../../styles/global.less';
.k-empty {
  text-align: center;
  color: @disable-color;
  padding-bottom: 10px;
  font-size: 12px;
  cursor: not-allowed;
  i {
    font-size: 30px;
    padding: 10px 0;
  }
  .k-empty-desc {
    line-height: 1.5;
  }
}