@import "../../styles/less-css-var.less";

.k-switch {
  min-width: 44px;
  height: 24px;
  line-height: 22px;
  border-radius: var(--kui-shape-circle);
  vertical-align: middle;
  border: none;
  background-color: var(--kui-theme-fill-bg);
  font-size: 12px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  color: var(--kui-color-text);
  padding: 0;
  flex-shrink: 0;
  outline: var(--kui-focus-ring-width) solid transparent;
  outline-offset: 1px;
  &:focus {
    outline: var(--kui-focus-ring-width) solid var(--kui-color-outline);
  }

  .k-icon {
    font-size: 16px;
  }

  &::before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: var(--kui-color-control-thumb);
    position: absolute;
    left: 3px;
    top: 50%;
    cursor: inherit;
    transform: translate3d(0, -50%, 0);
    transition: all 0.36s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    box-shadow:
      0 4px 6px rgba(0, 0, 0, 0.1),
      0 0 1px rgba(0, 0, 0, 0.3);
  }

  .k-switch-inner {
    color: var(--kui-color-icon);
    margin-left: 25px;
    margin-right: 8px;
    display: flex;
    line-height: 22px;
  }

  &:active:not(&:disabled) {
    &::before {
      width: 22px;
    }
  }

  .k-switch-loading {
    color: var(--kui-color-control-thumb-text);
    position: absolute;
    left: 4px;
    top: 50%;
    margin-top: -8px;
  }
}

.k-switch-square {
  border-radius: var(--kui-shape-square);
  &::before {
    border-radius: 2px;
  }
}

.k-switch-round,
.k-switch-default,
.k-switch-circle {
  border-radius: var(--kui-shape-circle);
}

[shape-mode="square"] .k-switch {
  border-radius: var(--kui-shape-square);

  &::before {
    border-radius: var(--kui-shape-square);
  }
}

.k-switch-sm {
  min-width: 28px;
  height: 16px;

  &::before {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    left: 2px;
  }
  &.k-switch-square {
    &::before {
      border-radius: 2px;
    }
  }

  &:active {
    &::before {
      width: 15px;
    }
  }

  &:active:not(&:disabled) {
    &::before {
      width: 15px;
    }
  }

  .k-switch-loading {
    left: 3px;
    font-size: 10px;
    margin-top: -5px;
  }

  &.k-switch-checked {
    &::before {
      margin-left: -2px;
    }

    .k-switch-loading {
      right: 3px;
      left: auto;
    }
  }
}

.k-switch-checked {
  background: var(--kui-color-primary);
  border-color: var(--kui-color-primary);

  &::before {
    left: 100%;
    transform: translate3d(-100%, -50%, 0);
    margin-left: -3px;
  }

  .k-switch-inner {
    margin-left: 8px;
    margin-right: 25px;
    color: var(--kui-color-text-on-solid);
  }

  .k-switch-loading {
    left: auto;
    right: 4px;
  }
}

.k-switch-disabled {
  opacity: var(--kui-disabled-opacity);
  cursor: not-allowed;

  .k-switch-loading {
    color: var(--kui-color-control-thumb-text);
  }
}
