@import "../../styles/less-css-var.less";

.k-tree-select {
  display: inline-flex;
  min-width: 0;
  min-width: 80px;
  box-sizing: border-box;
  vertical-align: middle;
  color: var(--kui-color-text);
  font-size: 14px;
  position: relative;
  outline: none;
  box-sizing: border-box;
  align-items: center;
  background-color: var(--kui-color-bg);
  border-radius: var(--kui-border-radius);
  border: 1px solid var(--kui-color-border);
  padding: 0 8px;
  transition: border 0.3s ease-in-out;
  line-height: 1.571;
  position: relative;
  &:not(.k-tree-select-disabled, .k-tree-select-borderless):focus {
    outline: 2px solid var(--kui-color-outline);
    outline-offset: 1px;
  }
  &:hover {
    border-color: var(--kui-color-primary);
    box-shadow: var(--kui-component-shadow);
  }

  &-selection {
    box-sizing: border-box;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    position: relative;
    min-height: 30px;
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
  }

  .k-tree-select-icon {
    font-size: 16px;
    color: var(--kui-color-icon);
    margin-right: 5px;
  }

  &-search-wrap {
    position: absolute;
    z-index: 1;
    background: none;
    overflow: hidden;
    max-width: 100%;

    .k-tree-select-search {
      border: none;
      width: 7px;
      min-width: 7px;
      height: 22px;
      padding: 0;
      background: none;
      outline: none;
      font-size: 14px;
      color: var(--kui-color-text);
    }
  }

  &-labels {
    transition: font-size 0.25s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    margin: 3px 0;

    .k-tree-select-tag {
      padding: 2px 5px;
      border: 1px solid var(--kui-color-border);
      background-color: var(--kui-color-border);
      border-radius: var(--kui-border-radius);
      display: inline-flex;
      align-items: center;
      font-size: 12px;
      position: relative;
      line-height: 18px;
      transition: all 0.25s ease-in-out;

      .k-icon {
        font-size: 16px;
        text-align: center;
        display: block;
      }
    }

    .k-tree-select-search-wrap {
      display: inline-block;
      position: relative;
      transform: none;
      left: 0;
      top: 0;
      margin: 0;
      vertical-align: middle;
    }
  }

  &-search-mirror {
    opacity: 0;
    white-space: pre;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    font-size: 12px;
  }

  &-placeholder {
    font-size: 14px;
    z-index: 0;
    line-height: 1.571;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--kui-color-text-disabled);
    white-space: nowrap;
    max-width: 100%;
    box-sizing: border-box;
    transition: font-size 0.25s ease-in-out;
    line-height: 1;
  }

  &-label {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    background: transparent;
    box-sizing: border-box;
    width: 100%;
    line-height: 1.571;
    cursor: pointer;
    font-size: 14px;
    transition: font-size 0.25s ease-in-out;
  }

  &-arrow {
    font-size: 14px;
    box-sizing: border-box;
    transform: rotate(0deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
    transition: font-size 0.25s ease-in-out;
    color: var(--kui-color-icon);
    margin-left: 8px;

    #chevron-up {
      transform: rotate(180deg);
    }
  }
  .k-tree-select-suffix {
    display: flex;
    align-items: center;
  }
  &-clearable {
    position: absolute;
    right: 8px;
    font-size: 14px;
    color: var(--kui-color-icon);
    display: none;
    cursor: pointer;
    &:hover {
      color: var(--kui-color-icon-hover);
    }
    &:active {
      color: var(--kui-color-icon-active);
    }
  }

  .k-tree-select-search-mirror,
  .k-tree-select-search {
    font-size: 14px;
    color: var(--kui-color-text);
  }

  &.k-tree-select-circle {
    border-radius: 30px;
  }

  &:not(.k-tree-select-disabled) .k-tree-select-tag .k-icon :hover {
    color: var(--kui-color-danger);
  }
}

.k-tree-select-show-tags {
  padding-left: 4px;

  .k-tree-select-icon {
    margin-left: 4px;
  }
}

.k-tree-select-show-search {
  .k-tree-select-placeholder {
    position: absolute;
  }
}

.k-tree-select-multiple {
  .k-tree-select-placeholder {
    position: absolute;
  }
}

.k-tree-select-light {
  &.k-tree-select {
    border-color: transparent;
    background: var(--kui-color-bg-component);
    transition: none;

    &:hover {
      box-shadow: none;
      border-color: transparent;
    }

    .k-tree-select-tag {
      background-color: var(--kui-color-bg-component);
      border-color: transparent;
    }
  }

  &:focus .k-tree-select {
    box-shadow: none;
    border-color: transparent;
  }
}
.k-tree-select-block {
  width: 100%;
}
.k-tree-select-dropdown {
  -webkit-user-select: none;
  user-select: none;
  border-radius: var(--kui-border-radius);
  width: inherit;
  max-height: 272px;
  overflow: auto;
  background-color: var(--kui-color-bg-pop);
  box-sizing: border-box;
  box-shadow: var(--kui-pop-shadow);

  position: absolute;
  z-index: 1003;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid var(--kui-color-pop-border);

  .k-tree-select-loading {
    padding: 10px;
    font-size: 14px;
    color: var(--kui-color-text);
    display: flex;
    align-items: center;

    .k-icon {
      font-size: 14px;
    }
  }
}

.k-tree-select-sm {
  padding: 0 var(--kui-padding-inline-sm);

  .k-tree-select-icon {
    font-size: 14px;
    margin-right: 3px;
  }

  .k-tree-select-selection {
    min-height: 22px;
  }

  &.k-tree-select-show-tags {
    padding-left: 2px;

    .k-tree-select-icon {
      margin-left: 2px;
    }
  }

  .k-tree-select-arrow {
    font-size: 12px;
    margin-left: 4px;
  }

  .k-tree-select-clearable {
    right: 4px;
    font-size: 12px;
  }

  .k-tree-select-label {
    line-height: 22px;
    height: 22px;
    font-size: 12px;
  }

  .k-tree-select-placeholder {
    font-size: 12px;
  }

  .k-tree-select-search-wrap {
    .k-tree-select-search {
      height: 12px;
      font-size: 12px;
    }
  }

  .k-tree-select-labels {
    gap: 2px;
    margin: 2px 0;

    .k-tree-select-tag {
      padding: 1px 5px;
      line-height: 1;

      .k-icon {
        font-size: 14px;
      }
    }

    .k-tree-select-search-wrap {
      padding: 2px 0;

      .k-tree-select-search {
        font-size: 12px;
        height: 12px;
        line-height: 12px;
        left: 0;
        float: left;
      }
    }
  }

  .k-tree-select-search-mirror,
  .k-tree-select-search {
    font-size: 12px;
    color: var(--kui-color-text);
  }
}

.k-tree-select-lg {
  .k-tree-select-placeholder {
    font-size: 16px;
  }

  .k-tree-select-selection {
    font-size: 16px;
    min-height: 38px;
  }

  .k-tree-select-icon {
    font-size: 18px;
  }

  .k-tree-select-arrow {
    font-size: 18px;
  }

  .k-tree-select-clearable {
    font-size: 18px;
  }

  .k-tree-select-label {
    line-height: 38px;
    height: 38px;
    font-size: 16px;
  }

  .k-tree-select-search-wrap {
    .k-tree-select-search {
      height: 28px;
    }
  }

  .k-tree-select-labels {
    .k-tree-select-tag {
      padding: 7px;
      font-size: 14px;
      line-height: 1;

      .k-icon {
        font-size: 16px;
      }
    }

    .k-tree-select-search-wrap {
      .k-tree-select-search {
        height: 28px;
        line-height: 28px;
        left: 0;
        float: left;
        font-size: 16px;
      }
    }
  }
}

.k-tree-select-opened {
  border-color: var(--kui-color-primary);
  box-shadow: var(--kui-component-shadow);

  .k-tree-select-label {
    opacity: 0.5;
  }

  &.k-tree-select-light .k-tree-select-selection {
    box-shadow: none;
    border-color: transparent;
  }
}

.k-tree-select-disabled {
  color: var(--kui-color-text-disabled);
  background: var(--kui-color-bg-component-disabled);

  .k-tree-select-label {
    cursor: not-allowed;
  }

  * {
    cursor: not-allowed;
  }

  .k-tree-select-arrow {
    color: var(--kui-color-disable-border);
  }
}

.k-tree-select-has-clear {
  &:hover {
    .k-tree-select-clearable {
      display: block;
    }

    .k-tree-select-arrow {
      opacity: 0;
    }
  }
}

.k-tree-select-borderless {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;

  &:hover,
  &:focus {
    border-color: transparent;
    box-shadow: none;
  }

  .k-tree-select-selection {
    box-shadow: none;
    border-color: transparent;
    background-color: transparent;
  }
}

@keyframes drop-down {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }

  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

.k-tree-select-enter-active {
  transform-origin: 0 0;
  animation: drop-down 0.3s;
}

.k-tree-select-leave-active {
  transform-origin: 0 0;
  animation: drop-down 0.3s reverse;
}
