@import "../../styles/less-css-var.less";
.k-mentions {
  position: relative;
  display: inline-block;
  width: 320px;
}
.k-mentions > .k-textarea {
  width: 100%;
  resize: none;
}
.k-mentions-dropdown {
  position: absolute;
  right: auto;
  bottom: auto;
  min-width: 180px;
}
.k-mentions-sm .k-textarea {
  height: var(--kui-control-height-sm);
  min-height: var(--kui-control-height-sm);
}

.k-mentions-lg .k-textarea {
  height: var(--kui-control-height-lg);
  min-height: var(--kui-control-height-lg);
}
