.k-mentions {
  position: relative;
  display: inline-block;
  width: 320px;
}
.k-mentions > .k-textarea {
  width: 100%;
}
.k-mentions-dropdown {
  position: absolute;
  right: auto;
  bottom: auto;
  min-width: 180px;
}
