/*!
 * kui-vue v3.3.5-c
 * Copyright 2017-present, kui-vue.
 * All rights reserved.
 * Author: chuchur@qq.com / www.chuchur.com
 */.demo-dot .box[data-v-82f4ac20]{width:50px;height:50px;background:#7f7f7f55;border-radius:5px}.demo-dot .k-badge[data-v-82f4ac20]{margin-right:20px}.demo-dot .box[data-v-2353fc86]{width:50px;height:50px;background:#7f7f7f55;border-radius:5px}.demo-dot .k-badge[data-v-2353fc86]{margin-right:30px;margin-bottom:30px}.demo-dot .box[data-v-e9296b2a]{width:50px;height:50px;background:#7f7f7f55;border-radius:5px}.demo-dot .k-badge[data-v-6ed6692e],.demo-dot .k-badge[data-v-e9296b2a]{margin-right:20px}