/*!
 * kui-vue v3.3.5-a
 * Copyright 2017-present, kui-vue.
 * All rights reserved.
 * Author: chuchur@qq.com / www.chuchur.com
 */.demo-dot .box[data-v-32deb9ab]{width:50px;height:50px;background:#7f7f7f55;border-radius:5px}.demo-dot .k-badge[data-v-32deb9ab]{margin-right:20px}.demo-dot .box[data-v-6c67b4b2]{width:50px;height:50px;background:#7f7f7f55;border-radius:5px}.demo-dot .k-badge[data-v-6c67b4b2]{margin-right:30px;margin-bottom:30px}.demo-dot .box[data-v-1ddabca2]{width:50px;height:50px;background:#7f7f7f55;border-radius:5px}.demo-dot .k-badge[data-v-1ddabca2],.demo-dot .k-badge[data-v-5f8baee7]{margin-right:20px}