/*!
 * kui-vue v3.4.5
 *  Copyright 2017-present, kui-vue.
 *  All rights reserved.
 *  Docs: https://k-ui.cn
 * Author: chuchur@qq.com / www.chuchur.com
 *
 */.demo-carousel .k-carousel{height:230px}.demo-carousel .k-carousel .k-carousel-item{background:#6c98d6;color:#fff;font-size:30px;font-weight:700;line-height:230px;text-align:center}