/*!
 * kui-vue v3.3.6-d
 *  Copyright 2017-present, kui-vue.
 *  All rights reserved.
 *  Docs: https://k-ui.cn
 * Author: chuchur@qq.com / www.chuchur.com
 *
 */.date-demo{border:1px solid var(--kui-color-border);height:400px;margin-top:10px;overflow:hidden;position:relative;width:256px}.demo-nav{border-bottom:1px solid var(--kui-color-border);font-size:12px;padding:8px 10px}.demo-datepicker .k-datepicker,.demo-datepicker .k-radio-group{margin:0 10px 10px 0}