/*!
 * kui-vue v3.3.5-b
 * Copyright 2017-present, kui-vue.
 * All rights reserved.
 * Author: chuchur@qq.com / www.chuchur.com
 */.date-demo{width:256px;height:400px;border:1px solid var(--kui-color-border);margin-top:10px;position:relative;overflow:hidden}.demo-nav{border-bottom:1px solid var(--kui-color-border);padding:8px 10px;font-size:12px}.demo-datepicker .k-datepicker,.demo-datepicker .k-radio-group{margin:0 10px 10px 0}