/*!
 * kui-vue v3.3.5-a
 * Copyright 2017-present, kui-vue.
 * All rights reserved.
 * Author: chuchur@qq.com / www.chuchur.com
 */.icon-list{display:inline-block}.icon-list .icon-item{text-align:center;width:200px;height:80px;line-height:80px;color:var(--kui-color-font);display:inline-flex;flex-direction:column;align-items:center;justify-content:center;font-size:32px;cursor:pointer;transition:color .3s ease-in-out}.icon-list .icon-item:hover{color:#3a95ff;box-shadow:0 0 15px #ddd}.icon-list .item-text{font-size:12px;line-height:1;padding:10px 0}