/*!
 * kui-vue v3.3.5-c
 * Copyright 2017-present, kui-vue.
 * All rights reserved.
 * Author: chuchur@qq.com / www.chuchur.com
 */.img-panel{padding:0 50px;width:256px;overflow:hidden}.img-panel h2{color:#fff;font-size:20px}.img-panel .k-row{margin:20px 0 30px;font-size:13px}.img-panel .k-row .k-icon{font-size:24px;color:#999;margin-right:20px;margin-top:8px}.img-panel .k-row .title{color:#eee}.img-panel .k-row .sub{color:#999;margin-top:5px}