/*!
 * kui-vue v3.3.11
 *  Copyright 2017-present, kui-vue.
 *  All rights reserved.
 *  Docs: https://k-ui.cn
 * Author: chuchur@qq.com / www.chuchur.com
 *
 */.img-panel{overflow:hidden;padding:0 50px;width:256px}.img-panel h2{color:#fff;font-size:20px}.img-panel .k-row{font-size:13px;margin:20px 0 30px}.img-panel .k-row .k-icon{color:#999;font-size:24px;margin-right:20px;margin-top:8px}.img-panel .k-row .title{color:#eee}.img-panel .k-row .sub{color:#999;margin-top:5px}