/*!
 * kui-vue v3.4.5
 *  Copyright 2017-present, kui-vue.
 *  All rights reserved.
 *  Docs: https://k-ui.cn
 * Author: chuchur@qq.com / www.chuchur.com
 *
 */.demo-space-align .k-space{border:1px solid #0022ff50;margin:0 5px;padding:5px}.demo-space-align .block{align-items:center;background:#eee;border:1px solid var(--kui-color-border);display:flex;height:60px;justify-content:center;width:80px}