/*!
 * kui-vue v3.3.4
 * Copyright 2017-present, kui-vue.
 * All rights reserved.
 * Author: chuchur@qq.com / www.chuchur.com
 */.demo-space-align{border:1px solid var(--kui-color-border);height:120px;display:flex;align-items:center;justify-content:center;width:100px}