/*!
 * kui-vue v3.5.0
 * Copyright 2017-present, kui-vue.
 * All rights reserved.
 * Author: Qiu / www.chuchur.com
 */.demo-space-align .k-space{border:1px solid var(--kui-color-border);width:calc(50% - 8px);border-radius:4px}.demo-space-align .block{background:#eee;height:60px;display:flex;align-items:center;justify-content:center;width:80px}