@import "../../styles/less-css-var.less";

.k-modal {
  color: var(--kui-color-text);

  .k-modal-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: auto;
    outline: 0;
  }

  .k-modal-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--kui-color-mask);
    height: 100%;
    z-index: 1001;
    overflow: hidden;
  }

  .k-modal-inner {
    position: relative;
    background-color: var(--kui-color-bg-pop);
    border: 1px solid var(--kui-color-pop-border);
    z-index: 1001;
    outline: 0;
    border-radius: 12px;
    top: 100px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: var(--kui-pop-shadow);

    width: 480px;
  }

  .k-modal-content {
    position: relative;
    border: 0;
    background-clip: padding-box;
    height: 100%;
    overflow: hidden;
    padding: 0 20px;
    outline: none;

    .k-modal-close {
      position: absolute;
      top: 20px;
      right: 20px;
      transition: all 0.3s ease-in-out;
      .k-icon {
        font-size: 20px;
      }
      &:hover {
        color: var(--kui-color-danger);
      }
    }

    .k-modal-header {
      padding: 20px 0;
      line-height: 1;
      font-size: 14px;
      -webkit-user-select: none;
      user-select: none;

      .k-modal-header-inner {
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.1;
      }
    }

    .k-modal-body {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 1.5;
      overflow: auto;
      box-sizing: border-box;
    }

    .k-modal-footer {
      padding: 0 0 20px 0;
      text-align: right;
      display: inline-block;
      width: 100%;
      box-sizing: border-box;

      .k-btn {
        margin-left: 8px;
      }
    }
  }
}

.k-modal-has-footer {
  .k-modal-content {
    .k-modal-body {
      height: calc(100% - 43px - 45px);
    }
  }
}

.k-modal-draggable {
  .k-modal-header {
    cursor: move;
  }

  .k-modal-inner {
    position: absolute;
  }
}

.k-modal-centered {
  .k-modal-wrap {
    text-align: center;

    &::before {
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
      content: "";
    }
  }

  .k-modal-inner {
    top: 0;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
}

.k-modal-maximized {
  .k-modal-wrap {
    overflow: hidden;
  }

  .k-modal-inner {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 0;

    .k-modal-footer {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      box-sizing: border-box;
      padding-right: 20px;
    }
  }
}

.k-toast {
  .k-modal-inner {
    width: 416px;
    background: var(--kui-color-bg-pop);
    border-radius: var(--kui-border-radius);
    padding: 20px;
    border-radius: 12px;
    overflow: hidden;
  }

  .k-toast-header {
    display: flex;
    align-items: center;
    .k-toast-icon {
      font-size: 28px;
      margin-right: 12px;
      float: left;
    }

    .k-toast-title {
      font-size: 16px;
      font-weight: 600;
      overflow: hidden;
      line-height: 1.5;
    }
  }

  .k-toast-content {
    padding-left: 40px;
    margin-top: 8px;
    font-size: 14px;
  }

  .k-toast-footer {
    float: right;
    margin-top: 20px;

    .k-btn {
      margin-left: 8px;
    }
  }
}

.k-toast-success .k-toast-icon {
  color: var(--kui-color-success);
}

.k-toast-error .k-toast-icon {
  color: var(--kui-color-danger);
}

.k-toast-warning .k-toast-icon {
  color: var(--kui-color-warning);
}

.k-toast-info .k-toast-icon {
  color: var(--kui-color-primary);
}

.k-toast-confirm .k-toast-icon {
  color: var(--kui-color-warning);
}

@keyframes k-modal-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.k-modal-fade-enter-active {
  animation: k-modal-fade 0.4s linear;
}

.k-modal-fade-leave-active {
  animation: k-modal-fade 0.4s linear reverse;
}

@keyframes k-modal-zoom {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0);
  }

  to {
    opacity: 1;
  }
}

.k-modal-zoom-enter-active {
  animation: k-modal-zoom 0.25s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

.k-modal-zoom-leave-active {
  animation: k-modal-zoom 0.25s cubic-bezier(0.78, 0.14, 0.15, 0.86) reverse;
}
