@import "../../styles/less-css-var.less";

.k-tabs {
  overflow: hidden;

  .k-tabs-bar {
    border-bottom: 1px solid var(--kui-color-border);
    margin: 0 0 16px;
    display: flex;
    align-items: center;

    .k-tabs-tab-btn-next,
    .k-tabs-tab-btn-prev {
      cursor: pointer;
      text-align: center;
      font-size: 20px;
      padding: 6px 5px 0;
      color: var(--kui-color-icon);
    }

    .k-tabs-tab-btn-next-disabled,
    .k-tabs-tab-btn-prev-disabled {
      color: var(--kui-color-text-disabled);
      cursor: not-allowed;
    }

    .k-tabs-nav-container {
      flex: 1;
      width: 0;
      display: flex;
      position: relative;
      overflow: hidden;
      font-size: 14px;
      margin-bottom: -1px;

      .k-tabs-nav-wrap {
        overflow: hidden;
        flex: 1;
        width: 0;
      }

      .k-tabs-nav {
        display: inline-block;
        transition: transform 0.3s;
        white-space: nowrap;
      }
    }

    .k-tabs-nav-container-scroll {
      padding: 0;

      .k-tabs-nav-scroll {
        transition: transform 0.3s;
      }
    }

    .k-tabs-tab {
      height: 100%;
      margin: 0 32px 0 0;
      padding: 10px 0 10px;
      font-size: 14px;
      cursor: pointer;
      -webkit-user-select: none;
      user-select: none;
      transition: color 0.3s;
      border-top-left-radius: var(--kui-border-radius);
      border-top-right-radius: var(--kui-border-radius);
      color: var(--kui-color-text);
      display: inline-flex;
      align-items: center;

      .k-icon {
        margin-right: 8px;
      }

      .k-tabs-close {
        margin: 0 -5px 0 0;
        text-align: center;
        font-size: 16px;
        margin-left: 5px;
        color: var(--kui-color-icon);

        &:hover {
          color: var(--kui-color-danger);
        }
      }

      &:last-child {
        margin: 0 2px 0 0;
      }

      &:hover {
        color: var(--kui-color-primary);
      }
    }

    .k-tabs-tab-active {
      color: var(--kui-color-primary);
      text-shadow: 0 0 0.5px currentcolor;
    }

    .k-tabs-tab-disabled {
      color: var(--kui-color-text-disabled);
      cursor: not-allowed;

      &:hover {
        color: var(--kui-color-text-disabled);
      }
    }

    .k-tabs-ink-bar {
      position: absolute;
      height: 2px;
      left: 0;
      background: var(--kui-color-primary);
      bottom: 0;
    }
  }

  .k-tabs-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    will-change: margin-left;

    .k-tabs-tabpanel {
      flex-shrink: 0;
      width: 100%;
      opacity: 1;
    }

    .k-tabs-tabpanel:not(.k-tabs-tabpanel-active) {
      display: none;
      visibility: hidden;
    }
  }
}

.k-tabs-centered {
  .k-tabs-bar .k-tabs-nav-container .k-tabs-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.k-tabs-animated {
  .k-tabs-bar .k-tabs-tab-active::after {
    display: none;
  }

  .k-tabs-content {
    .k-tabs-tabpanel {
      float: left;
      transition: opacity 0.45s;

      &:not(.k-tabs-tabpanel-active) {
        display: block;
        visibility: visible;
      }
    }
  }

  .k-tabs-ink-bar {
    transition: all 0.3s ease-in-out;
  }
}

.k-tabs-card {
  .k-tabs-bar {
    .k-tabs-tab {
      margin-right: 2px;
      border: 1px solid var(--kui-color-border);
      padding: 8px 16px;
      background: var(--kui-color-bg-1);
    }

    .k-tabs-tab-active {
      background: var(--kui-color-bg);
      border-bottom-color: transparent;

      &::after {
        display: none;
      }
    }
  }

  .k-tabs-content {
    display: block;

    .k-tabs-tabpanel:not(.k-tabs-tabpanel-active) {
      display: none;
      visibility: hidden;
    }
  }
}

.k-tabs-sample {
  .k-tabs-bar {
    margin: 0;
    border: none;

    .k-tabs-tab {
      margin: 0;
      padding: 10px 16px;
    }

    .k-tabs-tab-active {
      background: var(--kui-color-bg-component);

      &::after {
        display: none;
      }
    }
    .k-tabs-nav-container {
      margin-bottom: 0;
    }
  }

  .k-tabs-content {
    display: block;

    .k-tabs-tabpanel {
      padding: 16px;
      background: var(--kui-color-bg-component);
      box-sizing: border-box;
    }

    .k-tabs-tabpanel:not(.k-tabs-tabpanel-active) {
      display: none;
      visibility: hidden;
    }
  }
}
