@import "../../styles/less-css-var.less";

.k-card {
  background: var(--kui-color-bg-component);
  position: relative;
  border-radius: var(--kui-border-radius-card);
  color: var(--kui-color-text);

  .k-card-head {
    position: relative;
    padding: 16px;
    line-height: 1;
    display: flex;
    align-items: center;

    .k-card-title-icon {
      vertical-align: middle;
      margin-right: 6px;
      font-size: 14px;
    }

    .k-card-title {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      font-weight: 600;
    }
  }

  .k-card-extra {
    font-size: 14px;
  }

  .k-card-body {
    padding: 16px;
    font-size: 14px;
  }
}

.k-card-bordered {
  border: 1px solid var(--kui-color-border);
  background-color: transparent;
  .k-card-head {
    border-bottom: 1px solid var(--kui-color-border);
  }
}
