.k-input-tag.k-input[data-multiple] {
  height: auto;
  min-height: var(--kui-control-height);
  padding-top: 3px;
  padding-bottom: 3px;
  flex-wrap: wrap;
  overflow: visible;
}
.k-input-tag.k-input[data-multiple]:focus-within {
  border-color: var(--kui-color-primary);
  box-shadow: var(--kui-component-shadow);
  outline: var(--kui-focus-ring-width) solid var(--kui-color-outline);
  outline-offset: 1px;
}
.k-input-tag.k-input-fill[data-multiple]:focus-within,
.k-input-tag.k-input-plain[data-multiple]:focus-within {
  border-color: transparent;
  box-shadow: none;
}
.k-input-tag.k-input[data-multiple] .k-input-tag-item {
  padding: 2px 5px;
  font-size: var(--kui-font-size-sm);
}
.k-input-tag.k-input[data-multiple] .k-input-tag-item .k-icon {
  color: var(--kui-color-icon);
  cursor: pointer;
  font-size: var(--kui-font-size);
}
.k-input-tag.k-input[data-multiple] .k-input-tag-input {
  min-width: 80px;
  padding: 2px 0;
}
.k-input-tag.k-input-sm[data-multiple] .k-input-tag-item {
  padding: 1px 5px;
  font-size: var(--kui-font-size-sm);
}
.k-input-tag.k-input-lg[data-multiple] .k-input-tag-item {
  padding: 5px 8px;
  font-size: var(--kui-font-size);
}
.k-input-tag.k-input-circle[data-multiple] .k-input-tag-item {
  border-radius: var(--kui-shape-circle);
}
.k-input-tag.k-input-square[data-multiple] .k-input-tag-item {
  border-radius: var(--kui-shape-square);
}
.k-input-tag.k-input-disabled[data-multiple] .k-input-tag-item,
.k-input-tag.k-input-disabled[data-multiple] .k-input-tag-input {
  color: var(--kui-color-text-disabled);
  -webkit-text-fill-color: var(--kui-color-text-disabled);
}
.k-input-tag.k-input-disabled[data-multiple] .k-input-tag-item .k-icon {
  color: var(--kui-color-text-disabled);
}
