@import '../../styles/var.less';

.k-breadcrumb {
  line-height: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;

  ol {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-item {
    display: inline-flex;
    align-items: center;
    color: var(--kui-color-text-disabled);

    a {
      color: var(--kui-color-text-disabled);

      &:hover {
        color: var(--kui-color-primary);
      }
    }

    .k-icon {
      // color: var(--kui-color-text-disabled);
      margin-right: 4px;

      &:hover {
        // color: var(--kui-color-primary);
      }
    }

    &:hover {
      // color: var(--kui-color-primary);
    }

    &:active {
      // color: var(--kui-color-main-active);
    }
  }

  &-link {
    // cursor: pointer;
    display: inline-flex;
    align-items: center;
  }

  &-separator {
    color: var(--kui-color-text-disabled);
  }

  li {
    &:last-child {
      // background-color: red;
      color: var(--kui-color-text);

      .k-breadcrumb-separator {
        display: none;
      }
    }
  }

  &-separator {
    margin: 0 8px;
  }
}