@import "../../styles/less-css-var.less";

.k-breadcrumb {
  line-height: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;

  ol {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-item {
    display: inline-flex;
    align-items: center;
    color: var(--kui-color-text-placeholder);

    a {
      color: var(--kui-color-text-placeholder);

      &:hover {
        color: var(--kui-color-primary);
      }
    }

    .k-icon {
      margin-right: 4px;
    }
  }

  &-link {
    display: inline-flex;
    align-items: center;
  }

  &-separator {
    color: var(--kui-color-text-placeholder);
  }

  li {
    &:last-child {
      color: var(--kui-color-text);

      .k-breadcrumb-separator {
        display: none;
      }
    }
  }

  &-separator {
    margin: 0 8px;
  }
}
