.preview {
  .k-modal .k-modal-wrap {
    position: static;
  }
  .k-modal .k-modal-inner {
    top: auto;
  }
  .pop-demo {
    // background-color: rgba(74, 74, 193, 0.598);
    width: 441px;
    height: 175px;
    position: relative;
    margin-top: -20px;
  }
  .pop {
    display: block;
    height: 5px;
    width: 20px;
    // background-color: red;
    padding-bottom: 20px;
    position: absolute;
  }
  .pop1 {
    top: 65px;
    left: 30px;
  }
  .pop2 {
    left: 20px;
    top: 70px;
  }
  .pop3 {
    left: 420px;
    top: 120px;
  }
}
