.k-button {
   font-size: 14px;
   height: 36px;
   line-height: 34px;
   padding: 0 15px;
   box-sizing: border-box;
   background: #f9f9f9;
   border-radius: 0;
   border: 1px solid #ddd;
   display: inline-block;
   vertical-align: middle;
   transition: all .2s ease-in-out;
   &:hover {
      opacity: .5;
   }
   &:active {
      opacity: 1;
   }
}

.k-button.is-mini {
   height: 25px;
   line-height: 25px;
   font-size: 12px;
   padding: 0 8px;
}

.k-button.is-circle {
   border-radius: 30px;
}

.k-button-success {
   color: #fff;
   background-color: #19be6b;
   border-color: #19be6b;
}

.k-button-primary {
   background: #3a95ff;
   color: #fff;
   border-color: #3a95ff;
}

.k-button-link {
   background: none;
   border: none !important;
   color: #3a95ff;
}

.k-button-danger {
   border-color: #ed3f14;
   color: #fff;
   background: #ed3f14;
   .badge-count {
      border-color: #fc544e;
      color: #fc544e;
   }
}

.k-button-warning {
   background: #ffac13;
   color: #fff;
   border-color: #ffac13;
}

.k-button-gray {
   background-color: #909399;
   border-color: #909399;
   color: #fff;
}

.k-button-primary.is-hollow {
   color: #409eff;
   background: #ecf5ff;
   border-color: #b3d8ff;
}

.k-button-success.is-hollow {
   color: #67c23a;
   background: #f0f9eb;
   border-color: #c2e7b0;
}

.k-button-gray.is-hollow {
   color: #909399;
   background: #f4f4f5;
   border-color: #d3d4d6;
}

.k-button-warning.is-hollow {
   color: #e6a23c;
   background: #fdf6ec;
   border-color: #f5dab1;
}

.k-button-danger.is-hollow {
   color: #f56c6c;
   background: #fef0f0;
   border-color: #fbc4c4;
}