@keyframes load-loop {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.k-load-loop {
  animation: load-loop 1s linear infinite;
}

.k-icon {
  display: inline-flex;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  svg {
    margin: auto;
  }
  * {
    line-height: 1;
    display: inline-block;
  }
}
