@import "../../styles/motion.less";

.k-load-loop {
  animation: k-motion-rotate 1s linear infinite;
}

.k-icon {
  display: inline-flex;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  svg {
    margin: auto;
  }
  * {
    line-height: 1;
    display: inline-block;
  }
}
