@import "../../styles/less-css-var.less";

.k-row {
  display: flex;
  box-sizing: border-box;
  flex-flow: row wrap;
}

.k-col {
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  min-height: 1px;
}

@fix: ~"k-col";
@counts: 24;

.make_col(@prefix, @index) when(@index > 0) {
  .@{prefix}-@{index} {
    display: block;
    box-sizing: border-box;
    @width: percentage((@index / @counts));
    @gap-ratio: (1 - @index / @counts);
    max-width: calc(@width - @gap-ratio * var(--k-row-column-gap, 0px));
    flex: 0 0 calc(@width - @gap-ratio * var(--k-row-column-gap, 0px));
  }

  .@{prefix}-offset-@{index} {
    @offset: percentage((@index / @counts));
    @gap-ratio: (@index / @counts);
    margin-left: calc(@offset + @gap-ratio * var(--k-row-column-gap, 0px));
  }

  .@{prefix}-order-@{index} {
    order: @index;
  }

  .@{prefix}-push-@{index} {
    @offset: percentage((@index / @counts));
    @gap-ratio: (@index / @counts);
    left: calc(@offset + @gap-ratio * var(--k-row-column-gap, 0px));
  }

  .@{prefix}-pull-@{index} {
    @offset: percentage((@index / @counts));
    @gap-ratio: (@index / @counts);
    right: calc(@offset + @gap-ratio * var(--k-row-column-gap, 0px));
  }

  .make_col(@prefix, (@index - 1));
}

.@{fix}-0 {
  display: none;
}

.@{fix}-offset-0 {
  margin-left: 0;
}

.@{fix}-order-0 {
  order: 0;
}

.@{fix}-push-0 {
  left: auto;
}

.@{fix}-pull-0 {
  right: auto;
}

.make_col(@fix, @counts);

.make-responsive-col(@breakpoint) {
  @prefix: ~"@{fix}-@{breakpoint}";

  .@{prefix}-0 {
    display: none;
  }

  .@{prefix}-offset-0 {
    margin-left: 0;
  }

  .@{prefix}-order-0 {
    order: 0;
  }

  .@{prefix}-push-0 {
    left: auto;
  }

  .@{prefix}-pull-0 {
    right: auto;
  }

  .make_col(@prefix, @counts);
}

.make-responsive-col(xs);

@media (min-width: 576px) {
  .make-responsive-col(sm);
}

@media (min-width: 768px) {
  .make-responsive-col(md);
}

@media (min-width: 992px) {
  .make-responsive-col(lg);
}

@media (min-width: 1200px) {
  .make-responsive-col(xl);
}

@media (min-width: 1600px) {
  .make-responsive-col(xxl);
}

.k-row-top {
  align-items: flex-start;
}

.k-row-middle {
  align-items: center;
}

.k-row-bottom {
  align-items: flex-end;
}

.k-row-start {
  justify-content: flex-start;
}

.k-row-end {
  justify-content: flex-end;
}

.k-row-center {
  justify-content: center;
}

.k-row-space-around {
  justify-content: space-around;
}

.k-row-space-between {
  justify-content: space-between;
}
